################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReddCoinCoreNet.Api/bin/Debug/netcoreapp2.0
